.cart__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    margin: 5px 15px;
}

.cart__text {
    justify-content: center;
    align-items: center;
    display: flex;
}